.login-page {
    position: absolute;
    width: 700px;
    margin: auto;
    top: 270px;
    left: 610px;
}

.form {
    position: absolute;
    z-index: 1;
    background: #00000081;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    position: relative;
    outline: 0;
    background: #f2f2f2;
    width: 600px;
    height: 70px;
    border: 0;
    margin: 10px 0 40px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.form input::placeholder {
    font-family: 'Do Hyeon', sans-serif;
}

.form button {
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #b97f01;
    width: 600px;
    height: 70px;
    border: 0;
    padding: 20px;
    color: #FFFFFF;
    font-size: 25px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #b97f01;
}

.form .message {
    margin: 30px 0 0;
    color: #b3b3b3;
    font-size: 18px;
}

.form .message a {
    color: #b97f01;
    text-decoration: none;
}
